<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/csh-material-bootstrap/dist/css/csh-material-bootstrap.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Audiophiler</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a href="/upload">
                    <span class="glyphicon glyphicon-th-list"></span>
                    Upload
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown navbar-user">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                role="button" aria-expanded="false">
                    <img src="https://profiles.csh.rit.edu/image/{{ auth_dict["uid"] }}"> {{ auth_dict["uid"] }}</img>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="https://profiles.csh.rit.edu/user/{{ auth_dict["uid"] }}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    </li>
                    <li>
                        <a href="https://members.csh.rit.edu/"><span class="glyphicon glyphicon-globe"></span> Members Portal</a></li>
                    </li>
                    <li>
                        <a href="/logout">
                        Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        {% block nav %}
        {% endblock %}
    </div>
</nav>
    <body>
        {% block body %}
        {% endblock %}
        <footer>
            <center><a class="footer-version", href="https://github.com/sgreene570/audiophiler"> Audiophiler ({{config["GIT_REVISION"]}})</a></center>
        </footer>
        <script src="/static/js/audiophiler.js"></script>
    </body>
</body>
</html>
