<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/csh-material-bootstrap/dist/css/csh-material-bootstrap.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Audiophiler</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a href="/upload">
                    <span class="glyphicon glyphicon-th-list"></span>
                    Upload
                </a>
            <li>
        </ul>
        {% block nav %}
        {% endblock %}
    </div>
</nav>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</body>
</html>
