<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/csh-material-bootstrap/dist/css/csh-material-bootstrap.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Audiophiler</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a href="/upload">
                    <span class="glyphicon glyphicon-th-list"></span>
                    Upload
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown navbar-user">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                role="button" aria-expanded="false">
                    <img src="https://www.csh.rit.edu/resources/images/projects/harold.jpg">TESTING USER</img>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="/logout">
                        Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        {% block nav %}
        {% endblock %}
    </div>
</nav>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</body>
</html>
