{% extends "base.html" %}
{% block body %}
    <div class="container">
        <h2>Welcome to Audiophiler</h2>
        {% for s3_file in s3_files %}
            <div class="panel panel-primary">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <h4>{{s3_file.key|e}}</h4>
                    <audio controls="controls">
                        <source src={{"/uploads/" + s3_file.key}} type="audio/mpeg">
                    </audio>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
