{% extends "base.html" %}
{% block body %}
    <div class="container">
        <div style="text-align: center;"><h2>Welcome to Audiophiler</h2></div>
        {% for file in db_files %}
            <div class="panel panel-primary">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <h5>{{ file.name }}</h5>
                    <audio controls="controls" controlsList="nodownload" preload="none" id="audio" src="{{ get_file_s3(s3_bucket, file.file_hash) }}" type="audio/mpeg" download="{{ file.name }}">
                    </audio>
                    <h6>Owner: {{ file.author }} Last modified: {{ get_date_modified(s3_bucket, file.file_hash) }}</h6>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                            <input type="checkbox" data-hash={{ file.file_hash }} {% if file.file_hash in harolds %} checked="checked" {% endif %} class="toggleHarold"> Toggle Harold
                            </label>
                        </div>
                        <div class="remove">
                            {% if file.author == auth_dict["uid"] or is_rtp or is_eboard %}
                            <button class="glyphicon glyphicon-trash" data-hash={{ file.file_hash }}>Remove?</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% if config['PLUG_SUPPORT'] and loop.index0 == 0 %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a href="https://plug.csh.rit.edu" title="Advertisements by CSH: Plug" style="color: #000000">Advertisements by CSH: Plug</a>
                </div>
                <div class="panel-body">
                    <div class="plug-body">
                        <a href="https://plug.csh.rit.edu" title="Advertisements by CSH: Plug">
                            <img style="width: 100%" src="https://plug.csh.rit.edu/data">
                        </a>
                    </div>
                </div>
            </div>

            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
