{% extends "base.html" %}
{% block body %}
    <script src="static/js/dropzone/dist/dropzone.js"></script>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Upload</h3>
        </div>
        <div class="panel-body">
            <div id="fileUpload" class="dropzone">
                <div class="dz-message" data-dz-message><span>Click or drop audio here to upload</span></div>
                <button id="submit-all" class="btn btn-primary btn-lg">Submit file</button>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script>
        Dropzone.autoDiscover = false;
            $(function() {
                var myDropzone = new Dropzone('div#fileUpload', {
                    url: '/upload',
                    acceptedFiles: ".mp3,.wav,.mp4,.flac,.webm,.ogg,.m4a,.aac",
                    uploadMultiple: false,
                    autoProcessQueue: false,
                    parallelUploads: 3,
                    maxFilesize: 1000,
                });
                $('#submit-all').on('click', function(){
                    myDropzone.processQueue();
                });
            });
        </script>
    </div>
{% endblock %}
